.bg {
  background: #fff;
}

.hdr {
  box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.ftr {
  background-color: #e5e5e5;
}

.header {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav button {
  margin-left: 1rem;
}

.header > a {
  font-size: 1.4rem;
  color: #fff;
}

.image-card {
  width: 60%;
  margin: 1rem;
}

.contact {
  height: 80vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-card > .ant-card-body {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.footer {
  height: 15vh;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: 2%;
}

.crd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crd-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel {
  padding: 4rem 8rem;
  background: #001529;
}

.carousel-element {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-element > h3 {
  color: #fff;
}

.form {
  background: #fff;
  margin: 5% 25% 0% 25%;
}

.rg-form {
  background: #fff;
  padding: 5%;
  margin: 0 5%;
  padding-bottom: 0;
}

.rg-form > h2 {
  font-size: 2rem;
  font-weight: bold;
}

.ant-form > h2 {
  font-size: 2rem;
  font-weight: bold;
}

.ant-row {
  padding-bottom: 2%;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  padding-top: 0;
}

.card {
  margin: 5%;
}
